// Examples List Boxes With Text
#examples-list {
	@include flex-container(column, 1.938rem);
	list-style: none;
	max-width: 50rem;
	padding: 0;
	.examples-text-box {
		@include flex-container(column, 1.25rem);
		@include body(
			$fontSize-body-mobile,
			$font-size-body,
			$fluid-step-body,
			$line-height-body,
			$letter-spacing-body
		);
		background-color: $fmn;
		padding: $card-padding;
		color: $white;
	}
}
