// Centert p
.body-text-center {
	min-width: 17.5rem;
	text-align: center;
	max-width: 60%;
	@include body($fontSize-body-mobile, $font-size-body, $fluid-step-body, $line-height-body, $letter-spacing-body);
}
