<!DOCTYPE html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hjemmeværnet - Header</title>
		<link rel="stylesheet" href="../../dist/css/global.css" />
		<script src="../js/header.js" defer></script>
	</head>
	<body>
		<div id="headerElements">
			<div id="header__container">
				<div class="header__content">
					<div class="header__logo-mobile">
						<a class="header__logo-mobile-container" href="../../index.html"
							><img
								class="header__logo-mobile-icon"
								src="../assets/logos/hjv_logo.svg"
								alt="Hjemmeværnets logo"
						/></a>
					</div>
					<div class="header__logo-desktop">
						<a class="header__logo-desktop-container" href="../../index.html"
							><img
								class="header__logo-desktop-icon"
								src="../assets/logos/hjv_logo_and_name.svg"
								alt="Hjemmeværnets logo"
						/></a>
					</div>
					<nav class="navigation">
						<div class="navigation__menu" id="menu">
							<ul>
								<a href="../pages/resource.html" class="navigation__menu-item"
									><li>Undervisningsrescourser</li></a
								>
							</ul>
							<a class="navigation__menu-btn menu-btn" href="../pages/chatbot.html">Chatbot</a>
							<a href="#"
								><img
									class="navigation__menu-profile"
									src="../assets/icons/user.png"
									alt="A placeholder profile picture"
							/></a>
						</div>
						<div class="navigation__burger-menu" id="burgerMenu">
							<a class="navigation__burger-menu-btn" href="#">
								<img
									src="../assets/icons/menu.svg"
									class="navigation__burger-menu-icon"
									alt="A burger menu icon" />
							</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>
