// Flex container
@mixin flex-container($retning: column, $gap: 5rem) {
	display: flex;
	flex-direction: $retning;
	gap: $gap;
}

// Flex potitions
@mixin flex-align($justify: center, $align: null) {
	display: flex;
	justify-content: $justify;

	// Inkluder kun align-items, hvis $align ikke er null
	@if $align != null {
		align-items: $align;
	}
}

// Flex wrapper
@mixin flex-wrapper {
	display: flex;
	flex-wrap: wrap;
}

// Margin
@mixin main-margin {
	margin-top: clamp(8.313rem, $fluid-step-header, 9.875rem);
	margin-right: 0.625rem;
	margin-bottom: 0;
	margin-left: 0.625rem;
}

// Media breakpoints
@mixin screen-size($size) {
	@if $size == mobile {
		@media (width <= #{$mobile-max-size}) {
			@content;
		}
	} @else if $size == tablet-small {
		@media (width >= #{$tablet-small-min-size}) and (width <= #{$tablet-big-min-size}) {
			@content;
		}
	} @else if $size == tablet-big {
		@media (width >= #{$tablet-big-min-size}) and (width <= #{$desktop-min-size}) {
			@content;
		}
	} @else if $size == desktop {
		@media (width >= #{$desktop-min-size}) {
			@content;
		}
	}
}

// Typography
@mixin heading($fontSizes-h1-mobile, $font-size-h1, $fluid-step-header, $line-height-heading, $letter-spacing-h1) {
	font-size: clamp($fontSizes-h1-mobile, $fluid-step-header, $font-size-h1);
	line-height: $line-height-heading;
	letter-spacing: $letter-spacing-h1;
	margin: 0 1.25rem;
}
@mixin body($fontSize-body-mobile, $font-size-body, $fluid-step-body, $line-height-body, $letter-spacing-body) {
	font-size: clamp($fontSize-body-mobile, $fluid-step-body, $font-size-body);
	line-height: $line-height-body;
	letter-spacing: $letter-spacing-body;
}
