// Margin
$main-margin: 3.125rem 0.625rem;
$mb-50px: 3.125rem;

// Padding
$card-padding: 1.25rem 1.25rem 3.125rem;

// Screen sizes
$mobile-max-size: 46.4375rem;
$tablet-small-min-size: 46.5rem;
$tablet-big-min-size: 64rem;
$desktop-min-size: 75rem;

// Tillægsfarver
$fmn-10-procent: rgba(63, 91, 83, 0.1);
