@import "variables";
@import "mixins";
@import "components/buttons";
@import "components/cards";
@import "components/full-bleed-out-of-container";
@import "components/globals";
@import "components/headings";
@import "components/list-boxes";
@import "components/paragraphs";
@import "components/hidden";
html,
body {
  width: 100vw;
  height: 100vh;
  @include flex-container(row, null);
}
main {
  width: 100%;
  margin-top: clamp(8.313rem, 5vw, 9.875rem);
  margin-bottom: 15px;
  margin-left: 0;
  gap: 30px;
  flex-direction: row;
}

aside {
  @include main-margin;
  margin-bottom: 15px; // Skal eventuelt ændre i 'main-margin is tedet for
  margin-left: 15px;
  max-width: 250px;
  background-color: #f5f5f5;
  border: #dadada;
  padding: 1.25rem;
  transition: 0.5s;
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @include screen-size(tablet-big) {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% - 0.625rem - 1.25rem));
  }
  @include screen-size(tablet-small) {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% - 0.625rem - 1.25rem));
  }
  @include screen-size(mobile) {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% - 0.625rem - 1.25rem));
  }
}
.toggle-visibility {
  position: relative;
  transform: translateX(0);
}
/*
footer {
	background-color: $hjv;
	padding: 0 1.25rem;
	nav {
		ul {
			@include flex-container(row, 0.625rem);
			@include flex-align(right);
			list-style: none;
			a {
				text-decoration: none;
				color: $white;
				font-size: 0.75rem;
			}
		}
	}
}
*/
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;

  .searchfield {
    height: 0.813rem;
  }

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; // Skjuler label visuelt, men bevarer tilgængelighed for screen readers
  }

  input {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $white;
    background-color: $hjv;
    border: 2px solid rgba(255, 99, 71, 0);
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: darken($hjv, 10%);
    }
    &::placeholder {
      color: $white;
    }
  }

  button {
    padding: 6.7px 9px;
    font-size: 1rem;
    background-color: $hjv;
    color: white;
    border: 2px solid rgba(255, 99, 71, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($hjv, 10%);
    }
  }
}

.dialog-liste {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden; /* Skjul horisontal scroll */
  gap: 20px;

  .dato-sektion {
    h2 {
      font-size: 0.9rem;
      color: #000;
      margin-bottom: 12px;
      text-transform: uppercase;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 8px;

        a {
          text-decoration: none;
          color: #000;
          padding: 8px 10px;
          border-radius: 8px;
          transition: background-color 0.3s ease, color 0.3s ease;
          font-size: 0.95rem;
          gap: 5px;
          min-height: 22px;
          display: block; /* Sørger for, at a tagget fylder hele bredden */
          white-space: nowrap; /* Forhindrer at teksten brydes over flere linjer */
          overflow: hidden; /* Skjuler tekst, der går ud over containerens bredde */
          text-overflow: ellipsis;

          &:hover {
            background-color: darken(#f5f5f5, 15%);
          }

          &.aktiv {
            background-color: #5b6e87; /* Aktiv samtale farve */
            color: #fff; /* Lys tekstfarve for aktive elementer */
          }
          .content {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}
#promt-area {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    .btn-show-aside-on-mobile {
      padding: 10px;
      border: none;
      background-color: rgba(255, 99, 71, 0);
      cursor: pointer;
      transition: background-color 0.3s ease;
      // &:hover {
      //   background-color: darken(#fff, 8%);
      // }
      img {
        width: 25px;
        height: 25px;
      }
    }
    @include screen-size(desktop) {
      display: none;
    }
  }
  .chatgpt-output {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 75%;
    max-width: 700px;
    overflow-y: auto;
    .container {
      @include flex-container(column, 20px);
      @include flex-align(center, center);
      h1 {
        color: $hjv;
        margin: 0;
      }
      .wrapper {
        @include flex-container(row, 0.625rem);
        @include flex-align;
        @include flex-wrapper;
        button {
          border: none;
          padding: 5px 20px;
          border-radius: 100px;
          background-color: #f5f5f5;
          color: #999999;
          cursor: pointer;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: darken(#f5f5f5, 5%);
          }
        }
      }
    }
    .hide {
      display: none;
    }
    .chat-messages-container {
      display: none;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      overflow-y: auto;
      .user-message {
        max-width: 80%;
        padding: 10px;
        border-radius: 10px;
        align-self: flex-end;
        background-color: rgba(141, 27, 61, 0.1);
        .text {
          margin: 0;
          font-size: 1rem;
          color: #000;
        }
      }
      .bot-message {
        padding: 10px;
        border-radius: 10px;
        max-width: 80%;
        align-self: flex-start;
        background-color: rgba(0, 0, 0, 0.1);
        .text {
          margin: 0;
          font-size: 1rem;
          color: #000;
        }
      }
    }
    .show {
      display: flex;
    }
  }

  .mobile-container {
    width: 75%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen-size(mobile) {
      width: 100%;
      gap: 5px;
      // &::before {
      //   content: url(/src/assets/icons/add.svg);
      //   cursor: pointer;
      // }
      // &::after {
      //   content: url(/src/assets/icons/frame-118.svg);
      //   cursor: pointer;
      // }
    }
    .chat-user-input {
      width: 100%;
      display: flex;
      align-items: end;
      gap: 20px;
      border: 1px solid #dadada;
      background-color: #f5f5f5;
      padding: 10px;
      flex-direction: row; /* Skift retning for dynamisk vækst */
      max-height: 400px; /* Maksimal højde for hele boksen */
      overflow: hidden; /* Forhindrer indhold i at gå udenfor containeren */
      @include screen-size(tablet-big) {
        margin: 0;
      }
      @include screen-size(tablet-small) {
        margin: 0;
      }
      @include screen-size(mobile) {
        margin: 0;
      }
      .autoResize {
        @include body(
          $fontSize-body-mobile,
          $font-size-body,
          $fluid-step-body,
          $line-height-body,
          $letter-spacing-body
        );
        word-spacing: -3px;
        width: 100%;
        min-height: 50px; /* Mindste højde */
        max-height: 260px; /* Maksimal højde for textarea */
        resize: none; /* Tillad kun manuel vertikal resizing */
        padding: 10px;
        border: none;
        outline: none;
        overflow-y: auto; /* Tilføj vertikal scroll, hvis nødvendigt */
        background-color: rgba(255, 99, 71, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &::placeholder {
          color: #999;
        }
      }
      button {
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        background-color: rgba(255, 99, 71, 0);
        padding: 0;
        img {
          width: 35px;
          height: 35px;
          &:hover {
            filter: drop-shadow(0px 0px 5px lighten($hjv, 50%));
          }
          @include screen-size(mobile) {
            display: none;
          }
        }
      }
    }
  }
}
